main {
    margin: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    margin-left: 20px;
}

.sensor-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 18px;
    margin-bottom: 10px;
}

button {
    padding: 12px 16px;
    border: none;
    background-color: #00dfff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: larger;
    border-radius: 6px;
    box-shadow: 4px 4px 16px -10px #333;
}